body {
  max-width: 900px; /*0~900Px 까지 범위설정*/
  margin: 0 auto; /* 상하 = 0 좌우 = 자동여백설정 */
  padding: 20px;
  background-color: #f8f8fa;
}

h1 {
  color: #333; /* 맨 아래 color 속성으로 흰색을 작성했기 때문에 #333은 적용되지 않는다.*/
  text-align: center;
  padding: 20px;
  background: linear-gradient(45deg, #667eea, #764ba2);
  color: white;
}
/* pre 태그에 background 태그이용해서 

배경색 : #2d3748
글자 : #e2e8f0
패딩 : 15ㅔㅌ
둥글기 8
크기14*/

pre {
  background: #2d3748;
  color: #e2e8f0;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
}

P {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.section {
  margin-bottom: 40px; /* 아래로 여백 40px 만 제공 */
  padding: 20px; /* 상하좌우로 내 몸집을  20px 만 제공 */
  border-radius: 10px; /* 모서리 둥글기를 상하좌우로 10px 만 제공 */
  background: #f8f9ff;
}

.gd-1 {
  background: #4ecdc4
    /*
   0px---------10px ----------- 20px 
   투명구간       연한흰색
   청록          구간
   그대로 보임

   똑같은 rgba(255, 255, 255, 0.1) 색상표에서 
   0~10px 는 연한흰색 지정이 안됨.
   10px 이상부터 연한 흰색이 보임
   
   rgba(255, 255, 255, 0.1) 10px 부터 rgba(255, 255, 255, 0.1) 20px 까지 
   연한 색상을 유지
   
  90deg 각도 90도 = 수직 방향
  repeating-radial-gradient 반복해서 선형 패턴 디자인 만들기
  transparent 기본 배경색상이 보이는 구간
  transparent 0~10 PX 투명 구간
   
      rgba(255, 255, 255, 0.1) 10px 흰색 반투명 구간처음에 시작할 떄 반투명을 10px 
      rgba(255, 255, 255, 0.1) 20px 두번째 오는 반투명 구간은 20px 제공
     
    background: #4ecdc4
    transparent ~ transparent 10px,=> 0  부터 10px 까지 #4ecdc4 그대로 유지
    rgba(255, 255, 255, 0.1) 10px ~ rgba(255, 255, 255, 0.1) 20px 반투명함
*/
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.1) 10px,
      rgba(255, 255, 255, 0.1) 20px
    );
}
.gd-2 {
}
