body {
  max-width: 900px; /*0~900Px 까지 범위설정*/
  margin: 0 auto; /* 상하 = 0 좌우 = 자동여백설정 */
  padding: 20px;
  background-color: #f8f8fa;
}

h1 {
  color: #333; /* 맨 아래 color 속성으로 흰색을 작성했기 때문에 #333은 적용되지 않는다.*/
  text-align: center;
  padding: 20px;
  background: linear-gradient(45deg, #667eea, #764ba2);
  color: white;
}
/* pre 태그에 background 태그이용해서 

배경색 : #2d3748
글자 : #e2e8f0
패딩 : 15ㅔㅌ
둥글기 8
크기14*/

pre {
  background: #2d3748;
  color: #e2e8f0;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
}

P {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
