body {
  margin: 0;
  padding: 0;
  font-family: "맑은고딕";
  background-color: #f5f5f5;
}
.header {
  margin: 60px auto;
  background-color: white;
  padding: 30px;
}
/* class header 라는 이름 안에
작성된 nav 내부에 존재하는 a 태그 꾸며주기*/
.header .nav a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
}

/*header .nav a:hover
스타일을 그대로 사용한다. 
a태그 위로 올렸을 때 
변화하고 싶은 속성이 존재한다면
변화하고 싶은 속성만 :hover
태그 내부에 작성한다 */

.header .nav a:hover {
  color: white;
  background-color: black;
}
/*active 마우스를 클릭했을때 
마우스를 클릭 했을때 
bg #4caf50
fo white*/

.header .nav a:active {
  background-color: #4caf50;
  color: white;
}
/*
라벨 태그 디자인을 적용할때 
.form-body label 태그만 디자인을 적용하고 
방법은 2가지 
1. .form-body label
2. .form-body form label
*/
.form-body label {
  display: block;
  margin: 15px;
  font-weight: bold;
}

.form-body input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e9e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-body input:focus {
  /*
  고전방식
  border: 2px solid pink;
  outline: none;
  */

  outline: 2px solid pink;
}
/*
input 기본으로 작성되어 있는 테두리를 제거 
outline: none;
input 
 border 를 이용해서 색상이나 테두리 굵기 테두리 모양 지정
 input:hover
  input 에서 기존에 작성해놓은 속성을 따르되,
  테두리 굵기나 모양은 그대로 지정해놓고 
  border-color 를 사용
  input:focus
  bordeer : 선두께 선종류 선색사으로 지정해주고 
  outline: none 설정해줄수 있지만  
  outline: 선두께 선종류 선색상을 한번에 지정해주는 것이 편리함.
*/
.form-body input:hover {
  border-color: orange;
}
.form-body button {
  /* 위 마진 25px
    패딩 8px 12PX
    배경색 #4caf50
    실선없애기
    글자 18
    커서 포인터
    버튼 클릭 하면 
    배경색 #388e3C 로 변경
    */

  margin-top: 25px;
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.form-body button:active {
  background-color: #388e3c;
}
.form-body button:hover {
  background-color: yellowgreen;
}
