/*
1. body-top 클래스 에 
마진 패딩 0

2. header 전체박스 
로고가 들어갈 위치 
로그인 | 회원거ㅏ입 
한줄에 존재하도록 display
패딩 15 30
배경색상 #ddd
좌 우 나누기 
justfly-content : space-between
align-items : center
*/

.body-top {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 15px 30px;
  background-color: #ddd;
  justify-content: space-between;
  align-items: center;
}

.header-left .logo {
  font-size: 24px;
}

.header-left .logo img {
  width: 100px;
  border-radius: 50%;
}

.header-right a {
  text-decoration: none;
  font-size: 20px;
  color: #555;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nav ul a {
  text-decoration: none;
  color: aqua;
}

.main {
  margin: 0;
  padding: 0;
}

.banner-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.banner {
  display: flex;
  justify-content: center;
  background-image: url(../images/banner1.png);
  background-size: auto 145%;
  /* 배경을 반복 하지 안함 */
  background-repeat: none;
  /*contain -> 이미지 사이즈가 기기너비 만큼복재*/
  background-position: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #333;
  text-align: center;
}

.banner-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  /*  
  box-shadow 나 text-shadow 나 동일한 특성을 지님
  box-shadow : 담겨진 테두리 음영을 줄때 사용
  text-shadow : 글자 테두리 음영을 줄때 사용
              오른쪽으로이동 아래쪽으로이동 그림자흐린정도 80%불투명한 흰색
  text-shadow: 2px       2px        4px        rgba(255, 255, 255, 0.8);
  
  색상
  R=255 레드
  G=255 그린
  B=255 블루
  A= 불투명도 알파값
  */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}
